<mat-card class=" calc-card mat-elevation-z4">
    <h2 class="center">Porcentagem</h2>



<div class="resultado">
   0,00
</div>

    <form>
        <h3> Solução de Entrada</h3>
        <div class="field-container">
            <mat-form-field appearance="fill">
                <input 
                    matInput
                    name="concentracao1" 
                    placeholder="Concentração"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Volume">
            </mat-form-field>
        </div>
        <h3> Solução de Saída</h3>
        <div class="field-container">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Concentração"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Volume">
            </mat-form-field>
        </div>

        <div class="btn-container">
            <button  mat-raised-button color="primary">Calcular</button>
            <button mat-raised-button>Limpar</button>

        </div>

        
    </form>

</mat-card>