<mat-card class=" calc-card mat-elevation-z4">
    <h2 class="center">Diluição</h2>



<div class="resultado">
    <p> {{ resultado }} mL </p>
  <!-- <small>da solução de entrada</small> -->
</div>

    <form>
        <h3> Solução de Entrada</h3>
        <div class="field-container">
            <mat-form-field MatFormFieldControl appearance="fill" class="mg10">
                <mat-label>Concentração (mol/L)</mat-label>
                <input 
                    matInput
                    class="input"
                    [(ngModel)]="entrada.concentracao"
                    name="concentracao1" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mg10">
                <mat-label>Volume (ml)</mat-label>
                <input 
                    matInput 
                    name="Volume1"
                    [(ngModel)]="entrada.volume" />
            </mat-form-field>
        </div>
        <h3> Solução de Saída</h3>
        <div class="field-container">
            <mat-form-field appearance="fill" class="mg10">
                <mat-label>Concentração (mol/L)</mat-label>
                <input 
                    matInput 
                    name="Concentracao2"
                    [(ngModel)]="saida.concentracao" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mg10">
                <mat-label>Volume (ml)</mat-label>
                <input
                     matInput
                     name="volume2"
                     [(ngModel)]="saida.volume" />
            </mat-form-field>
        </div>

        <div class="btn-container">
            <button mat-raised-button color="primary" (click)="calcularDiluicao(); $event.preventDefault()">Calcular</button>
            <button mat-raised-button (click)="limpar(); $event.preventDefault()">Limpar</button>

        </div>

        
    </form>

</mat-card>