.resultado{
    border: 1px solid rgb(174, 174, 175);
    border-radius: 15px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: black;

}


.btn-container{
    display: flex;
    max-width: 300px;
    justify-content: space-around;
    padding: 0 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.field-container{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

h3{
    margin-bottom: 0;
}

.mg10 {
    margin: 10px;
}

.input{
    max-width: 50px !important;
}