<mat-card class=" calc-card mat-elevation-z4">
    <h2 class="center">Titulação</h2>



    <div class="resultado">
        <p> {{ resultado }} mol/L </p>
    </div>

    <form>
        <h3> Padrão Primário</h3>
        <div class="field-container">
            <mat-form-field MatFormFieldControl appearance="fill" class="mg10">
                <mat-label>Massa Molar</mat-label>
                <input matInput class="input" [(ngModel)]="massaMolar" name="concentracao1" />
            </mat-form-field>

        </div>
      
        <div class="calculo-container">
            
            <div class="field-container line">
                <h4>Amostra 1</h4>
                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px">
                    <mat-label>Massa (g)</mat-label>
                    <input matInput class="input" [(ngModel)]="m1" name="m1"/>
                </mat-form-field>
        
                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px">
                    <mat-label>Volume (L)</mat-label>
                    <input matInput class="input" [(ngModel)]="v1" name="v1" />
                </mat-form-field>
            </div>

            <div class="field-container line">
                <h4>Amostra 2</h4>
                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px" >
                    <mat-label>Massa (g)</mat-label>
                    <input matInput class="input" [(ngModel)]="m2" name="m2" />
                </mat-form-field>
        
                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px" >
                    <mat-label>Volume (L)</mat-label>
                    <input matInput class="input" [(ngModel)]="v2" name="v2" />
                </mat-form-field>
            </div>

            <div class="field-container line">
                <h4>Amostra 3</h4>
                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px">
                    <mat-label>Massa (g)</mat-label>
                    <input matInput class="input" [(ngModel)]="m3" name="m3"  />
                </mat-form-field>

                <mat-form-field MatFormFieldControl appearance="fill"  style="width:50px">
                    <mat-label>Volume (L)</mat-label>
                    <input matInput class="input" [(ngModel)]="v3" name="v3"  />
                </mat-form-field>
            </div>

        </div>

        <div class="btn-container">
            <button mat-raised-button color="primary" (click)="calcularTitulacao(); $event.preventDefault()">Calcular</button>
            <button mat-raised-button (click)="limpar(); $event.preventDefault()">Limpar</button>

        </div>


    </form>

</mat-card>